$enable-shadows: true;

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

// Body
html, body {
    overflow-x: hidden;
}

// Colors
$primary: #4756EF;
$secondary: #262626;
$body-color:  #262626;
$body-bg: #f2f2f2;
$white: #f5f5f5;
$gray: #b2afbc;
$light-gray: #68627B;

// Font Family
$font-family-sans-serif: 'Raleway', sans-serif;

// Border
$border-radius-lg: .9rem;
$border-radius-sm: .7rem;

// Input
$input-placeholder-color: $gray;
$input-border-radius: 12px;
$input-border-color: $gray;
$input-placeholder-color: $light-gray;
$input-color: $secondary;
$input-focus-border-color: $primary;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-group-addon-bg: transparent;

@import './mobile.module.scss';
@import './forms.module.scss';
@import '../scss/bootstrap.scss';
