.card_profile {
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}

.feature_fan_border {
    border: 2px solid #F5F5F5;
    border-radius: 15.2029px;
}

.button_icon {
    box-shadow: 0px 4px 6px rgba(38, 38, 38, 0.08);
    border-radius: 20px;
}